<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ToDo List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <br />
        <a href="/todos/add-todo">Add new ToDo</a>
        <form method="GET" th:action="@{/todos/search}">
            <input type="text" name="title" placeholder="Search for a title">
            <button type="submit">Search</button>
        </form>
        <h1>ToDos for today:</h1>
        <table class="table table-hover">
            <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Urgent</th>
            <th>Done</th>
            <th> </th>
            <th> </th>
            </thead>
            <tr th:each="todo:${todos}">
                <td th:utext="${todo.id}"/>
                <td th:utext="${todo.title}"/>
                <td th:utext="${todo.urgent}"/>
                <td th:utext="${todo.done}"/>
                <td><a th:href="@{|/todos/edit-todo/${todo.id}/|}">Edit</a></td>
                <td><a th:href="@{|/todos/delete-todo/${todo.id}|}">
                    <button type="button">Delete</button>
                </a></td>
            </tr>
        </table>
        <a href="/todos/list?show=done">Show done ToDos</a>
        <br />
        <a href="/todos/list?show=undone">Show undone ToDos</a>
        <br />
        <a href="/todos/list?show=">Show all ToDos</a>
    </body>
</html>
